<!doctype html>
<html class=no-js lang="en">
<head>
    <meta charset=UTF-8>
    <meta http-equiv=content-type content="text/html; charset=UTF-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name=description content="">
    <title>ClinVar Search Demo</title>
    <link rel="shortcut icon" type=image/x-icon href="favicon.ico">
    <link rel=stylesheet href=bower_components/datadicer/dist/styles/vendor.css>
    <link rel=stylesheet href=bower_components/datadicer/dist/styles/main.css>
    <link rel=stylesheet href=styles/uswds/resources/uswds.css>
    <!-- the css for the components in this app -->
    <link rel=stylesheet href=styles/main.css>
</head>
<body>
<div class=app ng-app=ClinvarApp>
    <uswds-ncbi-app-header></uswds-ncbi-app-header>
    <div ng-controller=gridController class=container>
        <h1><img src="images/dddemo.png" width="80" height="80" alt="demo icon"/>ClinVar Search</h1>
        <div class="row">
            <div searchbox
                 query="query"
                 filters="filters"
                 on-search="performSearchDebounced()"
                 on-start-over="startOver()"></div>
            <div class="container">
                <div class="pull-right">
                    <button type="button"
                            class="btn btn-default btn-sm"
                            ng-class="{'btn-warning':expanded,'btn-default':!expanded}"
                            ng-click="expanded=!expanded; toggle(expanded)">
                        <i class="fa " ng-class="{'fa-expand':!expanded, 'fa-compress':expanded}"></i>
                        {{!expanded?'Expand':'Collapse'}}
                    </button>
                </div>
            </div>
        </div>

        <div> <!-- to define a fix-width table, please consider to set style="width: 4000px;"-->
            <grid-table query=query config=gridConfig filters=filters range-filters=rangeFilters></grid-table>
        </div>
    </div>
    <uswds-ncbi-app-footer></uswds-ncbi-app-footer>
</div>
<!--[if lt IE 9]>
<script src=bower_components/datadicer/dist/scripts/oldieshim.js></script><![endif]-->
<script src=bower_components/uswds-ncbi-angular/dist/scripts/uswds/uswds.min.js></script>
<script src=bower_components/uswds-ncbi-angular/dist/scripts/uswds/header.js></script>
<script src=bower_components/datadicer/dist/scripts/vendor.js></script>
<script src=bower_components/datadicer/dist/scripts/scripts.js></script>
<script src=bower_components/datadicer/dist/scripts/templates.js></script>
<script src=bower_components/uswds-ncbi-angular/dist/scripts/scripts.js></script>
<script src=bower_components/uswds-ncbi-angular/dist/scripts/templates.js></script>
<!-- our application script -->
<script src="clinvar/clinvar.js"></script>
</body>
</html>